
<link rel="stylesheet" type="text/css" href="people.scss">
<h1 id="title"> People </h1>
<% @people.each do |person| %>
  <h2><%= person.name %></h2>
  <div id="options-bar">
  <%= link_to 'Show ', person_path(person) %>
  <%= link_to 'New ', new_person_path %>
 <%= link_to "Edit ", edit_person_path(person) %>
 <%= link_to "Delete ", person, method: :delete %>
 </div>
<% end %>







